/* Home.css */
.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 300px;
  max-width: 90%;
  width: 100%;
  background-color: #6dbeba;
  padding: 30px 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #fff;
  box-sizing: border-box;
}

label {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
  text-align: center;
  width: 100%;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .HomeContainer {
    width: 400px;
    margin: 50px auto;
  }
}

@media (max-width: 767px) {
  .HomeContainer {
    padding: 20px 15px;
  }

  label, input, button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .HomeContainer {
    padding: 15px 10px;
  }

  button {
    padding: 8px 16px;
  }

  label, input, button {
    font-size: 14px;
  }
}
